# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Jonas\OneDrive - Hochschule Osnabrück\Medieninformatik\Semester 5\Verteilte Systeme\PRA9_Websockets\BillboardWebsockets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
